
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Generated HTML reports
/assets/
/features/
index.html
/reports/

# Screenshots and videos
/screenshots/

